# Maven
##/target/
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse
.classpath
.project
.settings/

# Spring Tool Suite
.apt_generated
.factorypath
.springBeans
.sts4-cache
